/* FONTS */
@import url(../CSS/cabinet-grotesk.css);

/* VARIABLES */
:root{
    --c-dark: #212529;
    --c-brand: #4e57d4;
    --c-brand-light: #6970dd;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --font-base: "cabinet-grotesk", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

/* RESET AND HELPERS */
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 600;
    color: var(--c-dark);
}

a{
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover{
    color: var(--c-brand-light);
}

img{
    max-width: 100%;
    height: auto;
}

.section-padding{
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

/* IMAGE ZOOM */
.image-zoom {
    position: relative;
    /* overflow: hidden; */
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-zoom-wrapper img {
    transition: transform 0.5s ease; /* Ajusta la duración y el tipo de transición según tus necesidades */
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}


/* NAV BAR */
.navbar{
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link{
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active{
    color: var(--c-brand);
}

/* BOTON */
.btn{
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.btn-brand{
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

.btn-brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;


}

/* HERO */
#hero{
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.507), rgba(0,0,0, 0.438)), url(../img/h1.jpg);
    background-position: center;
    background-size: cover;
}


/* SECTION TITLE */

.section-title{
    margin-bottom: 40px;
}

.section-title .line{
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/** ICONBOX */

.iconbox{
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.2);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}

/* SERVICE */
.service{
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.service::after{
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(var(--c-brand-rgb), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.service:hover::after{
    width: 100%;
    height: 100%;
    background: var(--c-brand);
    z-index: -1;
}

.service:hover h5, 
.service:hover p{
    color: white;
}

.service:hover .iconbox{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

/* PORTAFOLIO*/
.portafolio-item .iconbox{
    background-color: var(--c-brand);
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.portafolio-item:hover .iconbox{
    opacity: 1;
    top: 50%;
}


/* SLIDER */
.slider{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track{
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation:  scroll 40s linear infinite;
    width: calc(200px * 10);
}

.slider .slide {
    flex: 0 0 200px; /* Ajusta el tamaño de cada slide */
    height: 200px; /* Ajusta la altura de cada slide */
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .slide img{
    width: 100%;
    
}

@keyframes scroll{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-200px * 5));
        transform: translateX(calc(-200px * 5));
    }
}

/* FOOTER */
footer{
    padding-top: 120px;
}

.footer-top{
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom{
    padding-top: 40px;
    padding-bottom: 40px;
}

footer li,
footer p,
footer a {
    color: white;

}

footer ul{
    list-style: none;
    padding: 0;
}

footer .line{
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

.logo-img {
    max-width: 235px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
}

/* CARROUSEL */
.carousel {
    position: relative;
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

.carousel-inner {
    height: 100%; /* Asegura que las imágenes ocupen toda la altura del contenedor */
}

.carousel-item {
    height: 100%; /* Asegura que cada slide ocupe toda la altura del contenedor */
    position: relative;
}

.carousel-item img {
    object-fit: cover; /* Asegura que las imágenes se ajusten al contenedor sin distorsionarse */
    height: 100%; /* Asegura que las imágenes ocupen toda la altura del contenedor */
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según tus necesidades */
    z-index: 1;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2; /* Asegura que el texto esté por encima de las imágenes */
}

.carousel-caption h2.custom-title {
    font-size: 3.5rem; /* Ajusta el tamaño según tus necesidades */
    z-index: 2; /* Asegura que el título esté por encima de las imágenes */
    position: relative;
}

.carousel-caption p {
    z-index: 2; /* Asegura que el párrafo esté por encima de las imágenes */
    position: relative;
}
